@import "../../vars.css";

.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 1;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}
.title{
    font-size: 72px;
    font-weight: 100;
    margin-bottom: 30px;
    font-family: var(--font-roboto);
    background: linear-gradient(90deg, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 120%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.brief{
    font-size: 35px;
    margin-bottom: 10px;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
}
.description{
    font-size: 30px;
    font-family: var(--font-roboto);
    margin-bottom: 52px;
}
.contactBtn{
    text-decoration: none;
    color: var(--color-text);
    background-color: var(--color-primary);
    padding: 17px 20px;
    border-radius: 100px;
    box-shadow: 0 0 4px 0 rgba(0,0,0.25);
    font-size: 30px;
    font-weight: 600;
}
.heroImg{
    width: 20%;
    border-radius: 50%;
    z-index: 1;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating{
    0% { transform: translate(0 0px)}
    50% { transform: translate(0 10px)}
    100% { transform: translate(0 -0px)}
}

.topBlur{
    background: rgba(25, 55, 107, 0.7);
    position: absolute;
    width: 50vw;
    min-width: 350px;
    min-width: 350px;
    height: 50vw;
    top: -128px;
    left: 10vw;
    border-radius: 764px;
    z-index: 0;
    filter: blur(100px);
}
.bottomBlur{
    background: rgba(25, 55, 107, 0.7);
    position: absolute;
    width: 70vw;
    min-width: 350px;
    min-width: 250px;
    height: 50vw;
    top: 246px;
    right: -25vw;
    border-radius: 764px;
    z-index: 0;
    filter: blur(100px);
}
@media screen and (max-width: 830px){
    .container{
        flex-direction: column-reverse;
    }
    .content{
        align-items: center;
    }
}